.nav
  display: inline-block
  position: absolute
  top: 0
  right: 0
  width: auto
  margin: 3% 3%
  background-color: transparent
.nav button
  background-color: transparent
  border: none
  height: 100%
  font-family: 'ArvoRegular', sans-serif
  font-size: 1.3em

.nav button:hover
  background-color: black
  color: white