@font-face
  font-family: 'ArvoRegular'
  src: url('../fonts/Arvo-Regular.ttf')

body
  height: 100%
  width: 100%
  font-family: 'ArvoRegular', sans-serif
  background: url('../../images/bretagne.jpg') no-repeat center center fixed
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

.info
  margin: 3% 3%
  width: 100%

header
  font-size: 3em
  text-align: left

.subtitle
  font-size: .5em
  text-align: left

.links
  position: absolute
  bottom: 0
  right: 3%
  width: 100%
  text-align:right

.links div a
  font-size: 3em
  text-decoration: none
  color: black

.links div
  margin: 5% 2%
  display: inline-block